<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flexi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>122B699C18D44FB7004AF481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>122B69BB18D44FB8004AF481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4823FA6C1888A41B0098E269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4823FA8D1888A41B0098E269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
