[submodule "PKRevealController"]
	path = PKRevealController
	url = https://github.com/pkluz/PKRevealController.git
[submodule "TITokenField"]
	path = TITokenField
	url = https://github.com/thermogl/TITokenField.git
[submodule "tapkulibrary"]
	path = tapkulibrary
	url = https://github.com/devinross/tapkulibrary.git
